.coluna1 {
    width : 30%;
    float: left;
    background-color: darkturquoise;
    font-size: 14px;
}

.coluna2 {
    width : 70%;
    float : right;
    background-color: dodgerblue ;
    font-size: 14px;
}